Repository ignite/apps, pull requests merged in 2024-04, with the labels that each got.

#80 fix: improve test and code readability
  consumer/main.go
  examples/chain-info/cmd/build.go
  examples/chain-info/integration/app_test.go
  examples/chain-info/main.go
  examples/flags/integration/app_test.go
  examples/flags/main.go
  examples/health-monitor/cmd/cmd.go
  examples/health-monitor/cmd/monitor.go
  examples/health-monitor/integration/app_test.go
  examples/health-monitor/main.go
  examples/hello-world/integration/app_test.go
  examples/hello-world/main.go
  examples/hooks/main.go
  explorer/integration/gex_test.go
  marketplace/cmd/info.go
  marketplace/cmd/list.go
  marketplace/integration/app_test.go
  marketplace/main.go
  marketplace/pkg/apps/search.go
  wasm/main.go
  wasm/services/scaffolder/scaffolder.go
Labels: ci, app:marketplace, app:consumer, app:explorer, app:wasm, app:examples

#65 feat: Add app-registry initial
  README.md
  _ignite-app-registry/README.md
  _ignite-app-registry/explorer/app.json
  _ignite-app-registry/schema.app.json
Labels: ci, configs

#83 docs: Fix readme for app-registry
  _ignite-app-registry/README.md
Labels: ci

#82 feat: put hermes under root cmd
  hermes/cmd/hermes.go
  hermes/main.go
  tools/debug/main.go
Labels: ci, app:hermes

#84 chore: disable hermes integration tests till the CLI V29
  hermes/integration/app_test.go
Labels: ci, app:hermes

#81 fix: fix and refactor gex app
  .github/workflows/test-lint.yml
  .github/workflows/test-unit.yml
  explorer/CHANGELOG.md
  explorer/cmd/cmd.go
  explorer/cmd/gex.go
  explorer/gex/gex.go
  explorer/go.mod
  explorer/go.sum
  explorer/integration/app_test.go
  explorer/integration/gex_test.go
  explorer/main.go
  tools/debug/go.mod
  tools/debug/go.sum
Labels: ci, app:explorer
