Repository ignite/apps, pull requests merged in 2024-07, with the labels that each got.

#114 chore: bump hermes binary to v1.10.0
  hermes/CHANGELOG.md
  hermes/cmd/hermes_configure.go
  hermes/go.mod
  hermes/go.sum
  hermes/integration/app_test.go
  hermes/main.go
  hermes/pkg/hermes/config.go
  hermes/pkg/hermes/hermes.go
  tools/debug/go.mod
  tools/debug/go.sum
Labels: ci, app:hermes

#119 fix: update relayer command path
  hermes/CHANGELOG.md
  hermes/go.mod
  hermes/go.sum
  hermes/integration/app_test.go
  hermes/main.go
Labels: ci, app:hermes

#121 docs: dir structure
  README.md
Labels: ci, configs

#113 feat(wasm): move wasm apps from cobra commands to default cmds
  tools/debug/README.md
  tools/debug/go.mod
  tools/debug/go.sum
  tools/debug/main.go
  wasm/CHANGELOG.md
  wasm/cmd/add.go
  wasm/cmd/cmd.go
  wasm/cmd/config.go
  wasm/cmd/debug/main.go
  wasm/go.mod
  wasm/go.sum
  wasm/integration/app_test.go
  wasm/main.go
Labels: ci, app:wasm
