Repository ignite/apps, pull requests merged in 2024-03, with the labels that each got.

#74 ci: rename PR labels for CI labeler
  .github/labeler.yml
Labels: component:ci

#71 feat: bump hermes binary and add integrations tests
  hermes/go.mod
  hermes/go.sum
  hermes/integration/app_test.go
  test/debug/go.mod
  test/debug/go.sum
Labels: component:ci, type:hermes

#75 chore: add some cleanups to the markeplace app
  marketplace/cmd/list.go
  marketplace/pkg/apps/details.go
  marketplace/pkg/apps/search.go
  marketplace/pkg/xgithub/github.go
  marketplace/pkg/xgithub/github_test.go
  test/debug/main.go
Labels: ci, app:marketplace

#77 fix(wasm): update scaffolded ibc replace + changelogs for all apps
  consumer/CHANGELOG.md
  explorer/CHANGELOG.md
  hermes/CHANGELOG.md
  marketplace/CHANGELOG.md
  wasm/CHANGELOG.md
  wasm/templates/wasm/wasm.go
Labels: ci, app:marketplace, app:consumer, app:explorer, app:hermes, app:wasm

#78 chore: update minimum ignite version
  wasm/README.md
Labels: ci, app:wasm

#79 chore: bump cli for all apps
  consumer/go.mod
  consumer/go.sum
  examples/chain-info/go.mod
  examples/chain-info/go.sum
  examples/flags/go.mod
  examples/flags/go.sum
  examples/health-monitor/go.mod
  examples/health-monitor/go.sum
  examples/health-monitor/integration/app_test.go
  examples/hello-world/go.mod
  examples/hello-world/go.sum
  examples/hooks/go.mod
  examples/hooks/go.sum
  explorer/go.mod
  explorer/go.sum
  hermes/go.mod
  hermes/go.sum
  marketplace/go.mod
  tools/debug/README.md
  tools/debug/go.mod
  tools/debug/go.sum
  tools/debug/main.go
  wasm/go.mod
  wasm/go.sum
  wasm/integration/app_test.go
  wasm/services/scaffolder/wasm.go
  wasm/templates/wasm/wasm.go
Labels: ci, app:marketplace, app:consumer, app:explorer, app:hermes, app:wasm, app:examples
