Repository ignite/apps, pull requests merged in 2024-06, with the labels that each got.

#99 fix(wasm): fix missing CLI imports
  tools/debug/go.mod
  tools/debug/go.sum
  wasm/CHANGELOG.md
  wasm/go.mod
  wasm/go.sum
  wasm/pkg/goanalysis/goanalysis.go
  wasm/pkg/goanalysis/goanalysis_test.go
  wasm/templates/wasm/wasm.go
Labels: ci, app:wasm

#92 feat(rollkit): add rollkit init
  rollkit/README.md
  rollkit/cmd/add.go
  rollkit/cmd/cmd.go
  rollkit/cmd/init.go
  rollkit/go.mod
  rollkit/go.sum
  rollkit/integration/app_test.go
Labels: ci

#107 feat: Add blockie to ignite apps
  _registry/toschdev.blockie.blockie.json
Labels: ci

#105 docs(wasm): mention genesis customization possibilities
  CONTRIBUTING.md
  rollkit/README.md
  tools/debug/README.md
  wasm/README.md
Labels: ci, app:wasm, configs

#106 fix(rollkit): improve bonded token setting
  rollkit/CHANGELOG.md
  rollkit/cmd/add.go
  rollkit/cmd/init.go
  rollkit/go.mod
Labels: ci

#109 docs: add rollkit tag note
  rollkit/README.md
Labels: ci
