Repository ignite/apps, pull requests merged in 2025-02, with the labels that each got.

#164 fix: trust_threshold is not aligned for latest hermes
  hermes/cmd/cmd.go
  hermes/cmd/configure.go
  hermes/cmd/flag.go
  hermes/pkg/hermes/config.go
Labels: ci, app:hermes

#165 chore: bump hermes relayer to `v1.10.0`
  hermes/CHANGELOG.md
  hermes/go.mod
  hermes/go.sum
Labels: ci, app:hermes

#168 fix(rollkit): update expected template
  rollkit/template/rollkit.go
Labels: ci

#170 feat: simple spinner example app
  _registry/ignite.apps.example-spinner.json
  app.ignite.yml
  cca/cmd/scaffold.go
  connect/cmd/discover.go
  examples/spinner/README.md
  examples/spinner/cmd/cmd.go
  examples/spinner/go.mod
  examples/spinner/go.sum
  examples/spinner/main.go
  go.work.example
Labels: ci, app:examples, configs

#173 refactor(wasm): upgrade wasm
  wasm/CHANGELOG.md
  wasm/README.md
  wasm/cmd/cmd.go
  wasm/go.mod
  wasm/go.sum
  wasm/pkg/config/config.go
  wasm/templates/wasm/files/app/ante.go.plush
  wasm/templates/wasm/files/app/wasm.go.plush
Labels: ci, app:wasm

#174 chore: bump hermes binary to `v1.12.0`
  hermes/go.mod
  hermes/go.sum
Labels: ci, app:hermes
