Repository ignite/apps, pull requests merged in 2025-03, with the labels that each got.

#178 feat(explorer): support ping pub
  explorer/CHANGELOG.md
  explorer/README.md
  explorer/cmd/cmd.go
  explorer/cmd/pingpub.go
  explorer/go.mod
  explorer/go.sum
  explorer/integration/app_test.go
  explorer/main.go
Labels: ci, app:explorer

#180 chore: bump ignite for all apps
  appregistry/go.mod
  cca/cmd/scaffold.go
  cca/go.mod
  cca/go.sum
  connect/go.mod
  connect/go.sum
  consumer/go.mod
  consumer/go.sum
  examples/chain-info/go.mod
  examples/chain-info/go.sum
  examples/flags/go.mod
  examples/flags/go.sum
  examples/health-monitor/go.mod
  examples/health-monitor/go.sum
  examples/hello-world/go.mod
  examples/hello-world/go.sum
  examples/hooks/go.mod
  examples/hooks/go.sum
  examples/spinner/go.mod
  examples/spinner/go.sum
  fee-abstraction/go.mod
  fee-abstraction/go.sum
  hermes/go.mod
  hermes/go.sum
  rollkit/go.mod
  rollkit/go.sum
  spaceship/go.mod
  spaceship/go.sum
  wasm/go.mod
  wasm/go.sum
Labels: ci, app:consumer, app:hermes, app:wasm, app:examples, app:appregistry

#181 fix: remove debug message
  hermes/cmd/configure.go
Labels: ci, app:hermes

#183 chore: downgrade hermes bin to `v1.11`
  hermes/go.mod
  hermes/go.sum
Labels: ci, app:hermes

#184 fix: fix aliases for runnable commands
  connect/cmd/cmd.go
  connect/main.go
  explorer/cmd/cmd.go
  explorer/main.go
Labels: ci, app:explorer
