Repository ignite/apps, pull requests merged in 2025-05, with the labels that each got.

#192 feat(rollkit): upgrade rollkit
  rollkit/CHANGELOG.md
  rollkit/README.md
  rollkit/cmd/add.go
  rollkit/cmd/init.go
  rollkit/go.mod
  rollkit/go.sum
  rollkit/integration/app_test.go
  rollkit/template/constants.go
  rollkit/template/rollkit.go
Labels: ci

#194 refactor(rollkit): re-use `addModuleInitFlags`
  .github/labeler.yml
  rollkit/CHANGELOG.md
  rollkit/template/rollkit.go
  wasm/CHANGELOG.md
  wasm/services/scaffolder/scaffolder.go
  wasm/services/scaffolder/scaffolder_test.go
  wasm/templates/wasm/wasm.go
Labels: ci, app:wasm

#196 feat: add workflow to validade app registry files
  .github/workflows/test-integration.yml
  .github/workflows/validate-app-registry.yml
  _registry/ignite.apps.appregistry.json
  _registry/ignite.apps.cca.json
  _registry/ignite.apps.consumer.json
  _registry/ignite.apps.example-chain-info.json
  _registry/ignite.apps.example-flags.json
  _registry/ignite.apps.example-health-monitor.json
  _registry/ignite.apps.example-hello-world.json
  _registry/ignite.apps.example-hooks.json
  _registry/ignite.apps.example-spinner.json
  _registry/ignite.apps.explorer.json
  _registry/ignite.apps.fee-abstraction.json
  _registry/ignite.apps.hermes.json
  _registry/ignite.apps.network.json
  _registry/ignite.apps.rollkit.json
  _registry/ignite.apps.spaceship.json
  _registry/ignite.apps.wasm.json
  _registry/registry.json
  _registry/toschdev.blockie.blockie.json
  appregistry/CHANGELOG.md
  appregistry/cmd/appregistry.go
  appregistry/cmd/details.go
  appregistry/cmd/install.go
  appregistry/cmd/list.go
  appregistry/cmd/validate.go
  appregistry/go.mod
  appregistry/go.sum
  appregistry/integration/app_test.go
  appregistry/pkg/xgithub/github.go
  appregistry/registry/details.go
  appregistry/registry/list.go
  appregistry/registry/types.go
  appregistry/registry/validate.go
  appregistry/strcase/strcase.go
  appregistry/strcase/strcase_test.go
  scripts/validate-registry-files.sh
Labels: ci, app:appregistry

#199 feat: download hermes binary instead use `ignite-files` repo
  .github/workflows/test-integration.yml
  hermes/cmd/cmd.go
  hermes/cmd/configure.go
  hermes/cmd/exec.go
  hermes/cmd/flag.go
  hermes/cmd/keys.go
  hermes/cmd/start.go
  hermes/go.mod
  hermes/go.sum
  hermes/integration/app_test.go
  hermes/pkg/hermes/bin.go
  hermes/pkg/hermes/hermes.go
Labels: ci, app:hermes

#200 fix: add hermes global installation into the integration tests
  hermes/CHANGELOG.md
  hermes/go.mod
  hermes/integration/app_test.go
Labels: ci, app:hermes
